#background {
    background-image: url("imgs/bg_1.jpg");
    background-size: cover;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    vertical-align: middle;
    margin-left: 80px;
}

header {
    display: block;
}

#home, #menu {
    display: inline-block;
}

#menu ul li {
    font-size: 20px;
    font-family: sans-serif;
    display: inline-block;
    margin-left: 40px;
}

#menu {
    
}
